.sort-dropdown {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.sort-dropdown__label {
  margin-right: 10px;
}

.sort-dropdown__select {
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.sort-dropdown__option {
  color: #333;
}
